body {
  background: rgba(64, 190, 168, 0.67);
  font-family: 'Maiden Orange', sans-serif;
}

header.img-header{
  width: 1233px;
  height: 820px;
  left: 0px;
  top: -209px;
}

/*ACOMPAÑADA*/
h1{
  position: absolute;
  width: 835px;
  height: 100px;
  left: -15px;
  top: 450px;
  font-family: Maiden Orange;
  font-size: 120px;
  line-height: 120px;
  text-align: center;
  color: #FFFFFF;
}

/*párrafo info*/
article{
  position: absolute;
  width: 656px;
  height: 90px;
  left: 261px;
  top: 632px;
  font-family: Maiden Orange;
  font-size: 32px;
  text-align: center;
  color: #000000;
}

/*caja de rutas*/
div.box1{
  position: absolute;
  width: 800px;
  height: 80px;
  padding: 100px;
  margin: 130px;
  background: rgba(12, 100, 84, 0.3);
  border-radius: 10px;
}

/*opciones de rutas*/
h2{
  position: absolute;
  width: 299px;
  height: 89px;
  left: 134px;
  top: 847px;
  font-size: 60px;
  align-items: center;
  text-align: center;
  color: #000000;
}

button.ruta1{
  position: absolute;
  width: 382px;
  height: 62px;
  left: 408px;
  top: 830px;
  background: #0C6454;
  border-radius: 10px;
  font-family: Maiden Orange;
  font-size: 36px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

button.ruta2{
  position: absolute;
  width: 382px;
  height: 62px;
  left: 467px;
  top: 900px;
  background: #0C6454;
  border-radius: 10px;
  font-family: Maiden Orange;
  font-size: 36px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

button.ruta3{
  position: absolute;
  width: 382px;
  height: 62px;
  left: 512px;
  top: 970px;
  background: #0C6454;
  border-radius: 10px;
  font-family: Maiden Orange;
  font-size: 36px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

/*texto punto de encuentro*/
h3{
  position: absolute;
  width: 500px;
  height: 54px;
  left: 371px;
  top: 1100px;
  font-size: 36px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

/*botón punto de encuentro*/
input[type="text-p"]{
  position: relative;
  width: 300px;
  height: 40px;
  padding: auto;
  margin: 40px;
  background: #B9A3BA;
  border-radius: 10px;
}

/*caja puntos de encuentro*/
div.box2{
  position: absolute;
  width: 800px;
  height: 80px;
  padding: 100px;
  margin: 130px;
  top: 1200px;
  background: rgba(12, 100, 84, 0.3);
  border-radius: 10px;
}

h4{
  position: absolute;
width: 299px;
height: 89px;
left: 193px;
top: 1400px;
font-family: Maiden Orange;
font-size: 36px;
align-items: center;
text-align: center;
color: #000000;
}

h5{
  position: absolute;
width: 430px;
height: 54px;
left: 600px;
top: 1300px;
font-family: Maiden Orange;
font-size: 36px;
align-items: center;
text-align: center;
color: #FFFFFF;
}

input[type="text-d"]{
  position: relative;
  width: 382px;
  height: 50px;
  left: 581px;
  top: 700px;
  padding: auto;
  margin: 40px;
  background: #B9A3BA;
  border-radius: 10px;
}

h6{
  position: absolute;
width: 430px;
height: 54px;
left: 600px;
top: 1400px;
font-family: Maiden Orange;
font-size: 36px;
align-items: center;
text-align: center;
color: #FFFFFF;
}

input[type="text-c"]{
  position: relative;
  width: 382px;
  height: 50px;
  left: 581px;
  top: 690px;
  padding: auto;
  margin: 40px;
  background: #B9A3BA;
  border-radius: 10px;
}

/*pie de página*/
footer{
  position: absolute;
  width: 1260px;
  height: 60px;
  top: 1720px;
  background: #B9A3BA;
  font-family: Maiden Orange;
  font-size: 18px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
